<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.http.xtext/rest/TestSuite"
			class = "xtext.http.rest.testSuite.TestSuitePackage"
			genModel = "model/generated/TestSuite.genmodel" />
	</extension>
</plugin>
